[Unit]
Description=websocket mpd translator
After=network.target

[Service]
Type=simple
User=http
Group=http
ExecStart=/usr/bin/webmpcd -listen=/run/webmpc/webmpcd.sock -root=/usr/share/webmpc
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
