// Prefix mixin.
@mixin prefix($property, $value) {
  @each $p in webkit moz ms o {
    -#{$p}-#{$property}: $value;
  }
  #{$property}: $value;
}

// General
* {
  margin: 0;
  padding: 0;
}

body {
  font: normal normal normal 13px/160% sans-serif;
  color: #333;
}

ul {
  list-style-type: none;
}

// Webkit and Firefox sliders
input[type=range] {
  -webkit-appearance: none;
  background-color: #fff;
  height: 4px;
  border-radius: 2px;
  outline: none;

  &::-moz-range-track {
    background-color: #fff;
    height: 4px;
    border-radius: 2px;
    outline: none;
    border: 0 none transparent;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    cursor: move;
  }

  &::-moz-range-thumb {
    -moz-appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    border: 0 none transparent;
    cursor: move;
  }
}

// Scrollbars
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
}

// Wrapper
#wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

// Player
#player {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
  font-size: .9em;
  color: #f9f9f9;
  background-color: #333;
  border-bottom: 1px solid #555;

  #ctrl {
    position: absolute;
    top: 20px;
    right: 50%;
    left: 0;
    margin-right: 250px;
    font-size: 18px;

    div.wrap {
      margin: 0 auto;
      width: 196px;

      > div {
        float: left;
        cursor: pointer;

        &:first-child {
          margin-left: 0
        }
      }
    }
  }

  #prev, #next {
    position: relative;
    width: 0;
    height: 0;
    margin-left: 16px;
    border: 10px solid transparent;

    &:before {
      position: absolute;
      content: ' ';
      top: -10px;
      width: 0;
      height: 0;
      border: 10px solid transparent;
    }
  }

  #prev, #prev:before {
    right: 0;
    border-right-color: #f9f9f9;
  }

  #next, #next:before {
    left: 0;
    border-left-color: #f9f9f9;
  }

  #pause {
    width: 0;
    height: 0;
    margin: 0 -5px 0 21px;
    border: 10px solid transparent;
    border-left-color: #f9f9f9;
  }

  &[data-state="play"] #pause {
    width: 4px;
    height: 20px;
    margin: 0 0 0 16px;
    border: 0 none transparent;
    border-left: 8px solid #f9f9f9;
    border-right: 8px solid #f9f9f9;
  }

  #repeat, #random {
    margin-left: 16px;
    color: #aaa;

    &:before {
      content: '⤮';
    }
  }

  #repeat {
    margin-left: 48px;

    &:before {
      content: '↺';
    }
  }

  &[data-random="1"] #random,
  &[data-repeat="1"] #repeat {
    color: #fff;
  }

  #status {
    width: calc(50% - 100px);
    max-width: 500px;
    margin: 0 auto;
    text-align: center;

    div {
      line-height: 20px;

      &#current-track {
        padding-top: 10px;
        min-height: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        span:nth-child(n+2):before {
          content: '-';
          margin: 0 6px;
        }
      }

      &.prog {
        input[type=range] {
          width: calc(100% - 100px);
          margin: 0 6px;
        }
      }
    }
  }

  #vol {
    position: absolute;
    top: 20px;
    right: 0;
    left: 50%;
    margin-left: 250px;
    text-align: center;

    input[type=range] {
      width: 140px;
    }
  }
}

// Database & Playlist
#db, #playlist {
  position: fixed;
  top: 61px;
  right: 0;
  bottom: 0;
  left: 0;

  div.head {
    padding: 0 4px;
    font-size: 13px;
    line-height: 24px;
    color: #fff;
    background-color: #333;
    border-bottom: 1px solid #555;

    span.clear {
      float: right;
      cursor: pointer;

      &:before {
        content: '⨯';
      }
    }
  }

  div.wrap {
    position: absolute;
    top: 25px;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 12px;
    color: #e0e0e0;
    background-color: #333;
    overflow: auto;
  }
}

// Database
#db {
  right: 50%;
  border-right: 1px solid #555;

  li {
    cursor: default;

    span {
      display: block;
      padding: 2px 6px;

      &:hover {
        color: #111;
        background-color: #f66;
      }
    }

    &[data-type=dir] {
      > span:before {
        content: '▸';
        margin-right: 6px;
      }

      &.active > span:before {
        content: '▾';
      }
    }

    &[data-type=file] {
      > span:before {
        content: '♫';
        margin-right: 6px;
      }
    }

    ul {
      display: none;
      padding-left: 16px;
    }

    &.active > ul {
        display: block;
    }
  }
}

// Playlist
#playlist {
  left: 50%;

  div.wrap {
    padding-bottom: 24px;
  }

  table {
    width: 100%;
    border-spacing: 0;

    tr {
      cursor: default;

      &:nth-child(2n) {
        background-color: #383838;
      }

      &.active {
        font-weight: bold;
        color: #f66;
      }

      &.selected {
        font-weight: bold;
        background-color: #444;

        &:nth-child(2n) {
          background-color: #484848;
        }
      }

      &:hover {
        color: #111;
        background-color: #f66;
      }
    }

    td {
      display: inline-block;
      width: 25%;
      padding: 2px 6px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      @include prefix(box-sizing, border-box);

      &:first-child {
        width: 40%;
      }

      &:last-child {
        text-align: right;
        width: 10%;
      }
    }
  }
}
